body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    /*    background-color:#ffffff;*/
}

/*
.form {
    outline: 1px solid #ff8800;
    background-color: aquamarine;
}


.site-navigation {
    outline: 1px solid #ff8800;
    background-color: coral;
}

.main-header {
    outline: 1px solid #8091e8;
    background-color: aquamarine;
}


.main-navigation {
    outline: 1px solid #e3d824;
    background-color: blue;
}

.main-header-logo {
    outline: 1px solid #24e324;
    background-color: burlywood;
}


.introduction {
    outline: 1px solid #ff390f;

}

.reasons {
    outline: 1px solid #24e324;
}

.first-reason-block {
    outline: 1px solid #b71bea;
}

.first-reason-text {
    outline: 1px solid #3a0ec7;
}

подсветку закомментировала пока
*/

a {
    text-decoration: none;
}



/*ссылки: информация, фото и видео, карта штата, гостиницы*/

.site-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
}

/*ссылка"гостиницы" для inner.html*/

.visited-link a:visited {
    color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

/*Поиск гостиницы в Седоне*/

.button.button-text {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button.button-text:hover,
.button.button-text:focus,
.button.button-text:active {
    background-color: #604e43;
}

.button.button-text:active {
    color: #928a85;
    background-color: #503e33;
}

/*даты заезда, выезда, кол-во взрослых и детей*/

.arrival-date,
.departure-date,
.adult,
.children {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.social-list {
    list-style: none;
}

.logo {
    width: 138px;
    height: 70px;
    text-align: center;
}

.welcome-page {
    text-align: center;
}

.map {
    text-align: center;
}

/*кнопка "найти"*/

.button-search {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
    border: none;
}

.button-search:active {
    color: #94b9d2;
    background-color: #5496bd;
    border: none;
}

.price-field {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
}

/*плейсхолдер для inner.html стоимость в сутки*/

.price-field::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
}

/*кнопка "показать"*/

.show {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 5px 20px 5px 20px;
    background-color: transparent;
}

.show:hover,
.show:focus {
    background-color: #ffffff;
    color: #000000;
}


.checkbox-list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}


.date-form::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
}

.date-form:hover {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #ebebeb;
}

.date-form:focus {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.guests-amount::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
}

.guests-amount:hover {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ebebeb;
}

.guests-amount:focus {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.introduction {
    background-color: #ffffff;
}

.introduction h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.introduction p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}



.reasons h2 {
    text-align: center;
}

.reasons-list,
.features {
    list-style: none;
   
}

.features {
    background-color: #ffffff;
    text-align: center;
}

.reasons-list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: #f2f2f2;
}

.real-city,
.bridge {
    background-color: #81b3d2;
}

.features-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.houses,
.food,
.souvenirs {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.third-reason,
.fourth-reason,
.fifth-reason {
    color: #333333;
    text-align: center;
}

.reasons-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.interesting {
    text-align: center;
    background-color: #ffffff;
}

.interesting-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
}

.form {
    background-color: #ffffff;
}

.search-data {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.main-footer {

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

.infrastructure-list,
.housing-list {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.sorting-list {
    list-style: none;
}

.housing ul {
    list-style: none;
}

.infrastructure h2,
.housing h2,
.prices h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.search-results {
    background-color: #ffffff;
}

.about-hotel h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.about-hotel h2:hover,
.about-hotel h2:focus,
.about-hotel h2:active {
    color: #81b3d2;
}

.about-hotel h2:active {
    color: #cacaca;
}

/*по цене, по типу, по рейтингу*/

.sort-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #cacaca;
    border-bottom: 1px dashed #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus,
.sort-item a:active {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort-item a:active {
    color: #000000;
    border-bottom: 0px;
}

.sort-current a {
    color: #81b3d2;
    border-bottom: 0px;
}

.description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.description:last-child {
    background-color: #f2f2f2;
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

}

.sorting {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

/*ссылка "забронировать"*/

.booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}

.booking:hover,
.booking:focus,
.booking:active {
    color: #ffffff;
    background-color: #604e43;
}

.booking:active {
    color: #928a85;
    background-color: #503e33;
}

/*ссылка "подробнее"*/

.details {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
}

.details:hover,
.details:focus,
.details:active {
    color: #ffffff;
    background-color: #669ec0;
}

.details:active {
    color: #85b0cd;
    background-color: #5496bd;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hotels-background {
    background-image: url("../img/hotels-background.jpg");
    background-size: 1200px 717px;
    background-position: top center;
    background-repeat: no-repeat;
}

.welcome-page {
    background-image: url("../img/bg.jpg");
    background-size: 1200px 561px;
    background-position: top center;
    background-repeat: no-repeat;
}

/*стили сетки для inner*/


.hotel-info-list {
    display: flex;
    justify-content:space-between;
    padding: 0;
}

.hotel-photo {
/*     padding-left: 73px;*/
    min-height: 152px;
    width: 113px;
}

.about-hotel {
/*    padding-left: 30px;*/
    min-height: 152px;
    width: 60px;
}
.raiting-scale {
    min-height: 30px;
    width: 110px;
}

.search-results {
    display: flex;
    justify-content: space-around;
    margin: 0;
}


.hotels-background {
     display: flex;
     justify-content: center;
   
}

.prices-container {
    display: flex;
}

.housing {
     width: 142px;
    height: 157px;
     padding-left: 113px;
    padding-right: 345px;
}

.prices {
    width: 320px;
    height: 157px;
     padding-right: 73px;
}

.inner-container {
    width: 1200px;
    
}

/*стили сетки*/

.main-footer {
    min-height: 120px;
    padding: 36px;
}

.footer-container {
    display: flex;

}

.footer-hashtag {
    width: 140px;
    margin-right: 256px;
}

.footer-social {
    width: 155px;
    margin-right: 225px;
}

.footer-copyright {
    width: 200px;
    margin: 0;
    margin-left: auto;
}

.interesting-block {
    display: flex;

    width: 570px;
    height: 480px;
    align-items: baseline;
    justify-content: center;

}

.form {
    width: 568px;
    justify-content: center;
}

.form-block .form {
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-data,
.button-search {
    display: none;
}

.map {
    display: flex;
    width: 1200px;
    height: 473px;
    justify-content: center;
}


.third-reason,
.fourth-reason,
.fifth-reason {
    width: 400px;
    min-height: 257px;
}


.reasons-block-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
    min-height: 257px;
}

.feature-item {
   
    padding-top: 161px;
    padding-bottom: 86px;
}


.features {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
    min-height: 330px;
}

.first-reason-block .reason-container {
    display: flex;
    justify-content: space-between;
}

.reason-container {
    width: 1200px;
    margin: 0;
    padding: 0;
}

.first-reason-block {
    width: 100%;
    min-height: 258px;
    background-color: #81b3d2;
}

.first-reason-text {
    width: 400px;
    margin: 0;
    padding-top: 47px;
    padding-bottom: 65px;
    padding-left: 60px;
    padding-right: 60px;
    list-style: none;
    min-height: 258px;
    justify-content: space-between;
}

.city-img {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}

.reasons {
    width: 1200px;
}

.introduction .wrapper {
    width: 1200px;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 153px;
}

.welcom-page {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 510px;
}

.welcom-img .welcom-page  {
    width: 458px;
    height: 352px;
    padding-top: 74px;
}

.info {
    padding-left: 73px;
}
.hotel-link {
    padding-right: 73px;
}

.wrapper .site-navigation {
    display: flex;
    width: 1200px;
    padding-left: 73px;
    padding-right: 73px;
    justify-content: space-between;

}


.main-header {
    width: 1200px;
    min-height: 566px;
    margin-bottom: 57px;

    min-height: 70px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
/*
   
*/
    min-height: 57px;
    background-color: transparent;
}

.main-header-logo {
    width: 138px;
    height: 70px;
}


.site-navigation {
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    min-height: 57px;
}
