body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color:#ffffff;
}

a {
    text-decoration: none;
}

.main-navigation {
   
    background-color: #ffffff;
}

/*ссылки: информация, фото и видео, карта штата, гостиницы*/
.site-navigation {
     list-style: none;
}

.site-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
}

/*ссылка"гостиницы" для inner.html*/
.visited-link a:visited {
    color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

/*Поиск гостиницы в Седоне*/

.button.button-text {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#766357; 
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button.button-text:hover,
.button.button-text:focus,
.button.button-text:active {
    background-color: #604e43;
}

.button.button-text:active {
    color: #928a85;
    background-color: #503e33;
}

/*даты заезда, выезда, кол-во взрослых и детей*/
.arrival-date,
.departure-date,
.adult,
.children {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.social-list {
    list-style: none;
}

.logo {
   text-align: center; 
}

.welcome-page {
    text-align: center;
}

.map {
   text-align: center; 
}

/*кнопка "найти"*/

.button-search {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color:#81b3d2;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
    border: none;
}

.button-search:active {
    color: #94b9d2;
    background-color: #5496bd;
    border: none;
}



.price-field {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;   
}

/*плейсхолдер для inner.html стоимость в сутки*/
.price-field::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px 20px 5px 20px;
}

/*кнопка "показать"*/
.show {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 5px 20px 5px 20px;
    background-color: transparent;
}

.show:hover,
.show:focus {
    background-color: #ffffff;
    color: #000000;
    border: none;
}


.checkbox-list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.prices-range input::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px 20px 5px 20px;
}

.date-form::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
}

.date-form:hover {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #ebebeb;
}
.date-form:focus {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.guests-amount::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
}

.guests-amount:hover {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ebebeb;
}
.guests-amount:focus {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.introduction{
    background-color: #ffffff;
}

.introduction h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.introduction p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.reasons h2 {
     text-align: center;
}
.reasons-list,
.features{
     list-style: none;
}

.features {
    background-color: #ffffff;
    text-align: center; 
}

.reasons-list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: #f2f2f2;
}

.real-city,
.bridge {
    background-color: #81b3d2;
}

.features-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.houses,
.food,
.souvenirs {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color:  #333333;
    text-align: center; 
}

.third-reason,
.fourth-reason,
.fifth-reason {
    color: #333333;
    text-align: center; 
}

.reasons-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.interesting {
    text-align: center;
    background-color: #ffffff;
}

.interesting-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color:  #333333;
}

.form {
    background-color: #ffffff;
}

.search-data {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color:  #000000;
} 

.main-footer {
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;  
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;   
}

.infrastructure-list,
.housing-list {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.sorting-list {
    list-style: none; 
}

.housing ul {
    list-style: none;  
}

.infrastructure h2,
.housing h2,
.prices h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.search-results {
    background-color: #ffffff;
}

.about-hotel h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.about-hotel h2:hover,
.about-hotel h2:focus,
.about-hotel h2:active {
    color: #81b3d2;
}

.about-hotel h2:active {
    color: #cacaca;
}

/*по цене, по типу, по рейтингу*/

.type a,
.raiting a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #cacaca;
    border-bottom: 1px dashed #81b3d2;
}

.type a:hover,
.type a:focus,
.type a:active {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.type a:active {
    color: #000000;
    border-bottom: 0px;
}

.raiting a:hover,
.raiting a:focus,
.raiting a:active {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.raiting a:active {
    color: #000000;
    border-bottom: 0px;
}

.price a {
    color: #81b3d2;
    border-bottom: 0px;
}

.description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333; 
}

.description:last-child {
    background-color: #f2f2f2;
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

/*ссылка "забронировать"*/
.booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}
.booking:hover,
.booking:focus,
.booking:active {
    color: #ffffff;
    background-color: #604e43;  
}
.booking:active {
    color: #928a85;
     background-color: #503e33;  
}

/*ссылка "подробнее"*/
.details {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
}

.details:hover,
.details:focus,
.details:active {
    color: #ffffff;
    background-color: #669ec0;  
}

.details:active {
    color: #85b0cd;
    background-color: #5496bd;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hotels-background {
    background-image: url("../img/hotels-background.jpg");
    background-size: 1200px 717px;
    background-position: top center;
    background-repeat: no-repeat; 
}
 
.background {
    background-image: url("../img/bg.jpg");
    background-size: 1200px 561px;
    background-position: top center;
    background-repeat: no-repeat; 
}